svg {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;  
}
section.main_chart {
  padding-top: 1em;
  @include media($small) {
	padding-top: 1em;
  }
  padding-bottom: 2em;
  background-color: transparentize($purple, 0.95);

  // border-bottom-width: 1px;
  // border-bottom-color: $purple;
  // border-bottom-style: solid;
}

div.main_chart {
  margin-top: 1em;
  @include span-columns(16);


	.axis path, .axis line {
	  fill: none;
	  stroke: black;
	  shape-rendering: crispEdges;
	}

	svg text {
	  font-size: 0.75em;
	}

	svg g.chart {

	  g.major .line {
		fill: none;
		cursor: pointer;
	  }

	  g.major.inactive {
		.line1 {
		  opacity: .1;

		  &:hover {
			opacity: .7;
		  }
		}
		circle {
		  opacity: 0;
		  &:hover {
			opacity: .5;
		  }
		}
	  }


	  // g.major.active {
	  //   .line {
	  //     opacity: 1;
	  //     stroke-width: 2;
	  //   }
	  //   circle {
	  //     display:inline; 
	  //   }
	  // }
	  
	}

	g.chart[data-charttype="bar"] {
		g.major:hover {
			rect.bground {
				opacity: 0.3;
			}
			rect.bar {
				opacity: 0.6;
			}
		
		}
	}

}

div.small_chart {
	svg text {
	  font-size: 0.75em;
	}
	.axis path, .axis line {
	  fill: none;
	  stroke: black;
	  shape-rendering: crispEdges;
	}
}

p.metainfo {
  display: none;

	@include media($large) {
		@include shift(3);
		@include span-columns(10);
	}

	@include media($medium) {
		@include shift(2);
		@include span-columns(9);	
	}

	@include media($small) {
		@include shift(0);
		@include span-columns(8);
	}

	font-size: .9em;
	text-align: center;

	a {
		color: $purple;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}





