section.content {
	padding-bottom: 2em;
	margin-bottom: 3em;
	@include reset-all();
	@include reset-layout-direction();

	div.major {
		padding-top: 2em;

		@include media($large) {
			@include reset-all();
			@include shift(0);
			@include span-columns(16);
			&:last-of-type {
				margin-bottom: 3em;
			}
		}
		@include media($medium) {
			@include shift(1);
			@include span-columns(10);
			&:last-of-type {
				margin-bottom: 1em;
			}
		}
		@include media($small) {
			@include shift(0);
			width: 100%;
			&:last-of-type {
				margin-bottom: 1em;
			}
		}


		
		@include reset-layout-direction();
		h3 {
			margin-bottom: 0em;
		}

		h4 {
			margin-top: 0.05em;
			font-weight: normal;
			color: $grey;
			font-size: 0.95em;
		}

		div.article {
			@include fill-parent;
			@include reset-layout-direction();
			@include row($direction: LTR);
			@include media($medium) {
				@include row($direction: RTL);	
			}	


			div.text {
				p {
					&:first-of-type {
						margin-top: 0em;
					}

					&:last-of-type {
						margin-bottom: 0em;
					}
				}
				@include media($large) {
					@include span-columns(10);		
				}
				@include media($medium) {
					// @include shift(1);
					@include span-columns(12);		
				}
				@include media($small) {
					@include span-columns(8);		
				}
			}

			div.small_chart {
				//background-color: $purple;
				width: 100%;
				@include media($large) {
					@include span-columns(6);	
					height: 250px;	
				}
				@include media($medium) {
					@include fill-parent;	
					height: 200px;	
					margin-bottom: 1em;	
				}
				@include media($small) {
					@include fill-parent;	
					height: 175px;	
					margin-bottom: 1em;	
				}
			}
		}
	}
}

div.centertext {
	@include reset-all();
	
	@include media($large) {
		@include shift(2);
		@include span-columns(12);
	}

	@include media($medium) {
		@include shift(1);
		@include span-columns(10);
	}

	@include media($small) {
		//font-size: 0.9em;
		@include shift(0);
		@include span-columns(8);
	}
}
