@import "_neat/_neat-helpers";

// Define your breakpoints
$large: new-breakpoint(min-width em(751));
$medium: new-breakpoint(min-width em(401) max-width em(750) 12); 
$small: new-breakpoint(max-width em(400) 8); 
