header {
	padding-top: 0em;
	padding-bottom: 1.5em;
	@include media($small) {
		padding-bottom: 2em;
	}

	background-color: transparentize($purple, 0.7);
	border-bottom-width: 2px;
	border-bottom-color: $purple;
	border-bottom-style: solid;
	text-align: center;

	@include row;

	color: $purple;
	
	div.bar {
		width: 100%;
		height: 35px;
		background-color: $purple;
		margin-bottom: 2em;
		padding: 5px 0;
		img {
			height: 100%;
		}
	}

	h1.title {
		margin-top: 0;
		margin-bottom: 0.2em;
		@include shift(2);
		@include span-columns(12);
		@include media($small) {
			font-size: 1.5em;
		}

	}

	h2.subtitle {
		@include shift(4);
		@include span-columns(8);
		font-weight: normal;
		margin-top: 0;
	}

	p.introduction {
		margin-top: 0em;
		@include shift(2);
		@include span-columns(12);
		@include reset-all();
		@include media($small) {
			//font-size: 0.9em;
		}
	}
}

