div.container {
	@include outer-container;
	padding-right: 1em;
	padding-left: 1em;
}

body {
	font-family: 'Proxima-Nova';
}


footer {
	margin-top: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: $purple;
	width: 100%;
	@include row();

	div.credits {
		text-align: left;
		color: lighten($purple, 60%);
		margin-top: 1em;
		&:first-of-type {
			margin-top: 0em;
		}
		p {
			margin-top: 0;
			margin-bottom: 0.4em;
		}
		a {
			color: lighten($purple, 45%);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		@include media($large) {
			font-size: 0.9em;
		}
		@include media($medium) {
			font-size: 0.8em;
		}
		@include media($small) {
			font-size: 0.8em;
		}
	}
}

::selection {
	background-color: $purple;
	color: white;
}

