nav {
	
	@include media($large) {
		height: 36px;
	}
	@include media($medium) {
		height: none;
	}
	@include media($small) {
		height: none;
	}
	
	&.stuck {
		position: fixed;
		top: 0;
	}

	width: 100%;
	background-color: $purple;

	div#navbutton {
		background-color: lighten($purple, 60%);
		&:hover {
			background-color: lighten($purple, 40%);
		}
		@include media($large) {
			display: none;
		}
		@include media($medium) {
			@include span-columns(1);
		}
		@include media($small) {
			@include span-columns(1);
		}

		span.hamburger {
			text-align: center;
			padding: 0.5em;
			font-size: 1.5em;
			height: 100%;
		}
	}

	p.current {
		margin: 0.5em 0em;
		margin-right: 0.5em;
		padding: 0.25em 1em !important;
		background-color: transparentize(#FFFFFF, 0.5);
		color: $purple;

		@include media($large) {
			display: none;
		}
		@include media($medium) {
			float: right;
			text-align: right;
		}
		@include media($small) {
			float: right;
			text-align: right;
		}
	}

	div.container {
		height: 100%;
	}

	div.navwrapper {
		position: absolute;
	}

	ul {
		position: relative;
		background-color: $purple;

		@include media($medium) {
			display: none;
		}
		@include media($small) {
			display: none;
		}

		margin: 0.5em 0em;
		list-style: none;
		text-align: center;
		-webkit-padding-start: 0em;

		li {
			display: inline;
			position: relative;

			a {
				padding: 0.25em 1em !important;
				color: white;
				text-decoration: none;

				// &:first-of-type {
				// 	padding-left: 0em;
				// }
				// &:last-of-type {
				// 	padding-right: 0em;
				// }

				&:hover {
					background-color: transparentize(#FFFFFF, 0.7);
				}
				&.active {
					background-color: transparentize(#FFFFFF, 0.5);
					color: $purple;
				}

			}
		}
	}
}
