nav {
	
	@include media($large) {
		height: 36px;
	}
	@include media($medium) {
		height: none;
	}
	@include media($small) {
		height: none;
	}
	
	&.stuck {
		position: fixed;
		top: 0;
	}

	width: 100%;
	background-color: $purple;

	div#navbutton {

		p.hamburger {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-users-select: none;
			-ms-user-select: none;
			user-select: none;

			cursor: pointer;
			@include transition(all 0.5s);

			
			color: $purple;
			background-color: transparentize(#FFFFFF, 0.3);
			&:hover {
				background-color: transparentize(#FFFFFF, 0.5);
			}

			margin: 0.5em 0em;
			margin-left: 0.5em;
			padding: 0.25em 1em !important;


			@include media($large) {
				display: none;
			}
			@include media($medium) {
				float: left;
				text-align: right;
			}
			@include media($small) {
				float: left;
				text-align: right;
			}
			text-align: center;
		}
	}

	p.current {
		margin: 0.5em 0em;
		margin-right: 0.5em;
		padding: 0.25em 1em !important;
		background-color: transparentize(#FFFFFF, 0.5);
		color: $purple;
		@include transition(all 0.5s);

		&:hover {
			background-color: transparentize(#FFFFFF, 0.2);			
		}
		@include media($large) {
			display: none;
		}
		@include media($medium) {
			float: right;
			text-align: right;
		}
		@include media($small) {
			float: right;
			text-align: right;
		}


	}

	div.container {
		height: 100%;
	}

	div.navwrapper {
		position: absolute;
	}

	ul {
		position: relative;
		background-color: $purple;

		@include media($medium) {
			display: none;
		}
		@include media($small) {
			display: none;
		}

		margin: 0.5em 0em;
		list-style: none;
		text-align: center;
		-webkit-padding-start: 0em;

		li {
			display: inline;
			position: relative;

			a {
				padding: 0.25em 1em !important;
				color: white;
				text-decoration: none;

				// &:first-of-type {
				// 	padding-left: 0em;
				// }
				// &:last-of-type {
				// 	padding-right: 0em;
				// }

				&:hover {
					background-color: transparentize(#FFFFFF, 0.7);
				}
				&.active {
					background-color: transparentize(#FFFFFF, 0.5);
					color: $purple;
				}

			}
		}
	}
}
